<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('blog') }}">UE-L222 | Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'blog' %}active{% endif %}" aria-current="page" href="{{ path('blog') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') starts with 'article_' %}active{% endif %}" href="{{ path('article_index') }}">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') starts with 'category_' %}active{% endif %}" href="{{ path('category_index') }}">Catégories</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_user_index') }}">Auteurs</a>
                    </li>
                {% endif %}
            </ul>
            <div class="d-flex align-items-center">
                {% if app.user %}
                    <span class="navbar-text me-3">
                        {{ app.user.firstName }} {{ app.user.lastName | upper }}
                    </span>
                    <a class="btn btn-secondary" href="{{ path('app_logout') }}" title="Déconnexion">
                        <i class="bi bi-box-arrow-right"></i>
                    </a>
                {% else %}
                    <a class="btn btn-secondary" href="{{ path('app_login') }}" title="Connexion">
                        <i class="bi bi-box-arrow-in-right"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
