{{ form_start(form) }}
    {{ form_row(form.title, {'label': 'Titre'}) }}
    {{ form_row(form.content, {'label': "Contenu de l'article"}) }}
    {{ form_row(form.category, {'label': 'Catégorie'}) }}
    {{ form_row(form.imageFile, {'label': "Image d'illustration"}) }}
    <button class="btn btn-primary">{{ button_label|default('Mettre à jour') }}</button>
{{ form_end(form) }}