{% extends 'base.html.twig' %}

{% block title %}UE-L222 | Article{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h1 class="my-5">Retrouvez tous les articles</h1>
        <div class="row">
            <!-- Contenu principal -->
            <div class="col-lg-10">
                {% for article in articles %}
                <div class="row mb-4 align-items-start">
                    <div class="col-md-4">
                        {% if article.image %}
                            {# On vérifie si c'est une URL (http...) ou un fichier local #}
                            {% if 'http' in article.image %}
                                <img src="{{ article.image }}" class="img-fluid rounded" alt="{{ article.title }}" style="width: 100%; height: 300px; object-fit: cover; object-position: center; border-radius: 8px;">
                            {% else %}
                                <img src="{{ asset('uploads/articles/' ~ article.image) }}" class="img-fluid rounded" alt="{{ article.title }}" style="width: 100%; height: 300px; object-fit: cover; object-position: center; border-radius: 8px;">
                            {% endif %}
                        {% else %}
                            <img src="{{ asset('images/default.jpg') }}" class="img-fluid rounded" alt="Image par défaut" style="width: 100%; height: 300px; object-fit: cover; object-position: center; border-radius: 8px;">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <h2>{{ article.title }}</h2>
                        <p class="text-muted"> <i class="bi bi-tag-fill"></i> {{ article.Category.name }} |   <i class="bi bi-calendar3"> </i>{{ article.createdAt|date('d/m/Y') }} |  <i class="bi bi-eye-fill"></i> {{ article.vueCount | default(0) }}
                         {% if article.author %}
                        <span class="ms-3">par {{ article.author.firstName }} {{ article.author.lastName | upper }}</span>
                    {% endif %}</p>
                        <p>{{ article.content|slice(0, 200) ~ '...' }}</p>
                        <a href="{{ path('article_show', {'id': article.id}) }}" class="btn btn-info me-2 px-4">Voir</a>
                        <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-warning px-4"><i class="bi bi-pencil"></i>   Modifier</a>
                    </div>
                </div>
                {% endfor %}
                <div class="navigation d-flex justify-content-center mt-4">
                    {{ knp_pagination_render(articles) }}
                </div>
            </div>


            <!-- Aside -->
            <div class="col-lg-2">
                <aside class="p-3 bg-light rounded position-sticky" style="top: 10rem;">

                    {{ include('partials/_article_short_list.html.twig', {
                        title: 'Articles récents',
                        articles: articles|slice(0, 3)
                    }) }}

                    {{ include('partials/_article_short_list.html.twig', {
                        title: 'Articles les plus vus',
                        articles: mostViewedArticles
                    }) }}

                    <a href="{{ path('article_new') }}" class="btn btn-primary">Créer un article</a>

                </aside>
            </div>
        </div>
    </div>

{% endblock %}
