{% extends 'base.html.twig' %}

{# {% block title %}Article{% endblock %} #}
{% block title %}Article [{{ article.id }}]{% endblock %}

{% block body %}
    <h1 class="mt-4">{{ article.title }}</h1>
    {% if article.Category.name is defined %}
        <h4 class="fst-italic fw-light">{{ article.Category.name }}</h4>
    {% endif %}
    {% if article.author %}
        <p class="lead fst-italic">
            Par {{ article.author.firstName }} {{ article.author.lastName | upper }}
        </p>
    {% endif %}

    <p class="mt-5 mb-4">
        {{ article.content }}
    </p>
    <!--<table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ article.content }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>
                    {% if article.Category.name is defined %}
                        {{ article.Category.name }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>-->

    <a href="{{ path('article_index') }}" class="btn btn-secondary">Back to list</a>

    <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-warning ms-4">Edit</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
